<head>
  <link href='https://api.mapbox.com/mapbox-gl-js/v1.0.0/mapbox-gl.css' rel='stylesheet' />

</head>
<nav class="navbar navbar-light bg-light">
  <form action="/users" method="post">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav>
<div class="todo">
  <div class="mapa">
    <div class="tarjeta">
      <h2>Oh hi {{user.name}}</h2>
      <img src="{{user.profileImg}}">
    </div>
    <form action="/profile/picture" method="post" enctype="multipart/form-data">
      <label for="poster">Poster</label>
      <input type="file" name="photo" id="poster">
      <input type="submit" value="save">
    </form>
  </div>
  <div class="posts">
    <div class="seleccionar">
      <div class="posts">
        Posts
      </div>
      <div class="artistas">
        <form action="/profile/artistas" method="POST">
          <button type="submit"> recomendados </button>
        </form>
      </div>
      <div class="musica">
        <a href="/profile/music"> <button type="submit"> Musica </button></a>

      </div>
      <div class="eventos">
        Eventos
      </div>
    </div>
    <form action="/profile/eventos" method="post">

      <label for="name">Nombre del evento </label>
      <input type="text" name="name" class="content">
      <label for="description">Descripsion del evento</label>
      <input type="text" name="description">
      <label for="fecha">Fecha del evento</label>
      <input type="date" name="fecha">
      <button type="submit">Crear evento</button>
      <label for="longitud">Inserta la longitud de la ubicacion de tu evento</label>
      <input type="text" name="longitud">
      <label for="latitud">Inserta la latitud de la ubicacion de tu evento</label>
      <input type="text" name="latitud">
    </form>
    {{#each events as |event|}}
    <div>
      <p>{{event.name}} </p>
      <p>{{event.description}}</p>
      <p>{{event.fecha}}</p>
    </div>
    {{/each}}
  </div>
  <div class="reproductor">
    <iframe src="https://open.spotify.com/embed/album/1DFixLWuPkv3KT3TnV35m3" width="300" height="380" frameborder="0"
      allowtransparency="true" allow="encrypted-media"></iframe>
  </div>
</div>